

//for the traffic signal rules

var light = "orange"

switch(light) 
{
    case "green":
     console.log("Drive")
    break
    case "orange":
     console.log("Get ready")
    break
    case "red":
     console.log("Dont drive")
    break
    default :console.log("The light is not green, orange, or red")
}
